**/.idea
prisma
**/node_modules
**/build
**/.env
**/yarn.lock
**/yarn-error.log
**/package-lock.json
**/.env
**/*.jpg
**/*.png
**/*.jpeg
**/*.webm
**/*.xslx
!public/media/icons/default.png
!public/media/icons/default-logo.png
!public/media/icons/whatsapp.png
!public/media/background/bg_1.jpg
!public/media/background/bg_2.jpg
!public/media/favicon.png
app